li {
  display: inline-block;
  margin-left: 10px;
  /* You can also add some margins here to make it look prettier */
  zoom: 1;
  *display: inline;
  /* this fix is needed for IE7- */
}

.header {
  background-color: #282A35;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  font-family: "Segoe UI", sans-serif;
}

.page {
  background-color: #0B0E11;
}

.room-text {
  color: black;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;

}
